
<div class="main">

    <h3>@CountryComparison.Name uses @SetComparisonValues() @ResourceType </h3>
    <p class="text">@CountryOrigin.Name: </p>
    <div class="OriginCountry Country">@OriginCountryValue@Unit</div>
    <p class="text">@CountryComparison.Name: </p>
    <div class="ComparisonCountry Country" style="@ComparisonValueStyle">@ComparisonCountryValue@Unit</div>
</div>



