<div class="compare">
    @if (_country == null || _countryToCompareWith == null)
    {
        <p>Loading...</p>
    }
    else
    {   
        <div class="country-of-the-day">
            <h2>
                Compare Countries
            </h2>
        </div>
        <div class="container"> 
            <div class="header"> 
                <menu class="menu-row">
                        <RadzenLabel Text="Compare" Component="DropDownBindValue" Style="margin-right: 8px; vertical-align: middle;" Visible=true></RadzenLabel>
                        <RadzenDropDown @bind-Value=@_selectedHome
                            Data=@_availableCountries.Keys
                            Name="DropDownBindValue"
                            AllowClear=false
                            Placeholder="Select country"
                            Chips=false
                            MaxSelectedLabels="1"
                            Change="@((e) => UpdateHomeCountry((string)e))">
                        </RadzenDropDown>  

                        <RadzenLabel Text="with" Component="DropDownBindValue" Style="margin-right: 8px; vertical-align: middle;" Visible=true></RadzenLabel>
                        <RadzenDropDown @bind-Value=@_selectedOther
                            Data=@_availableCountries.Keys
                            Name="DropDownBindValue"
                            AllowClear=false
                            Placeholder="Select country"
                            Chips=false
                            MaxSelectedLabels="1"
                            Change="@((e) => UpdateOtherCountry((string)e))">
                        </RadzenDropDown>  
                </menu>
                <div class="data-filter">
                    <DataFilterer @key="@_availableMetrics" Data="@_dataMetrics" OnChange="HandleFilterChange"></DataFilterer>
                </div>
                <nav class="table-of-contents">
                    <ul>
                        @foreach (var metric in _dataMetrics)
                        {
                            <li><a href="Compare/#@FormatLabel(metric)">@metric</a></li>
                        }
                    </ul>
                </nav>
                
            </div>

            <div class="grid-container">
                @foreach (var metric in _dataMetrics)
                {
                    <div id="@FormatLabel(metric)" class="grid-item">
                        <ComparisonComponent @key="@($"{_country}-{_countryToCompareWith}-{metric}")" CountryComparison="@_country" CountryOrigin="@_countryToCompareWith" date="@_date" ResourceType="@metric"></ComparisonComponent>
                    </div>
                }
            </div>
            
        </div>
    }
</div>