@inherits Fluxor.Blazor.Web.Components.FluxorComponent;

<div class="compare">
    @if (State.Value.OriginCountry == null || State.Value.ComparedCountry == null || !_initialized)
    {
        <p>Loading...</p>
    }
    else
    {   
        <div class="country-of-the-day">
            <h2>
                Compare Countries
            </h2>
        </div>
        <div class="container"> 
            <div class="header"> 
                <menu class="menu-row">
                        <RadzenLabel Text="Compare" Component="DropDownBindValue" Style="margin-right: 8px; vertical-align: middle;" Visible=true></RadzenLabel>
                        <RadzenDropDown @bind-Value=@State.Value.OriginCountry.Name
                            Data=@_availableCountries.Keys
                            Name="DropDownBindValue"
                            AllowClear=false
                            Placeholder="Select country"
                            Chips=false
                            MaxSelectedLabels="1"
                            Change="@((e) => UpdateOriginCountry((string)e))"
                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            FilterOperator="StringFilterOperator.Contains"
                            AllowFiltering=true>
                        </RadzenDropDown>  

                        <RadzenLabel Text="with" Component="DropDownBindValue" Style="margin-right: 8px; vertical-align: middle;" Visible=true></RadzenLabel>
                        <RadzenDropDown @bind-Value=@State.Value.ComparedCountry.Name
                            Data=@_availableCountries.Keys
                            Name="DropDownBindValue"
                            AllowClear=false
                            Placeholder="Select country"
                            Chips=false
                            MaxSelectedLabels="1"
                            Change="@((e) => UpdateComparedCountry((string)e))" 
                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            FilterOperator="StringFilterOperator.Contains"
                            AllowFiltering=true>
                        </RadzenDropDown>  
                </menu>
                    <div class="data-filter">
                    <DataFilterer @key=@State.Value.SharedMetrics Data="@State.Value.SharedMetrics" DefaultSelectedValues="@State.Value.ShownMetrics" OnChange="HandleFilterChange"></DataFilterer>
                </div>
               
                <nav class="table-of-contents">
                    <ul>
                        @foreach (var metric in State.Value.ShownMetrics)
                        {
                            <li><a href="Compare/#@FormatLabel(metric)">@metric</a></li>
                        }
                    </ul>
                </nav>
                
            </div>

            <div class="grid-container">
                @if (State.Value.SharedMetrics.Count == 0)
                {
                    <div>
                        <p>No shared data between @State.Value.OriginCountry.Name and @State.Value.ComparedCountry.Name</p>
                    </div>
                }
                else if (State.Value.ShownMetrics.Count != 0)
                {
                   @foreach (var metric in State.Value.ShownMetrics)
                {
                    <div id="@FormatLabel(metric)" class="grid-item">
                        <ComparisonComponent @key="@($"{State.Value.OriginCountry}-{State.Value.ComparedCountry}-{metric}")" 
                            CountryList="_countries" 
                            Date="@_date" 
                            ResourceType="@metric">
                        </ComparisonComponent>
                    </div>
                }
                }
                else
                {
                    <div>
                        <p>No data selected between @State.Value.OriginCountry.Name and @State.Value.ComparedCountry.Name</p>
                    </div>
                }
            </div>
        </div>
    }
</div>