<div class="main">  
    <h4>@GetComparisonText()</h4>
    <RadzenChart Style="@($"height: {150 + ComparedCountries.Count * 40}px")">
        @if (OriginCountry != null)
        {
            <RadzenBarSeries Fill="@_colors[0]" Data="@ValueMap[OriginCountry]" 
                CategoryProperty="Date" Title="@OriginCountry.Name" 
                LineType="LineType.Dashed" 
                ValueProperty="Value">
                <RadzenSeriesDataLabels Visible="true" />
            </RadzenBarSeries>
        }
        @for (int i = 0; i < ComparedCountries.Count; i++)
        {
            <RadzenBarSeries Fill="@_colors[(i + (OriginCountry!=null?1:0)) % _colors.Count]" 
                Data="@ValueMap[ComparedCountries[i]]"
                CategoryProperty="Date" Title="@ComparedCountries[i].Name"
                LineType="LineType.Dashed" ValueProperty="Value">
                    <RadzenSeriesDataLabels Visible="true" />
            </RadzenBarSeries>
        }
        <RadzenValueAxis Min="0" Max="@SetBarWidth()" Formatter=@(value => value == null ? "" : (Decimal.Parse( String.Format( "{0:n}",value) )/1.000000000000000000000000000000000m).ToString() )>
            <RadzenGridLines Visible="true" />
            <RadzenAxisTitle Text="@ConsumptionText" />
        </RadzenValueAxis>
        <RadzenBarOptions Radius="10" Height="40" Margin="10" />
        <RadzenCategoryAxis Formatter=@(value => value == null ? "" : DateOnly.Parse((value.ToString())).Year.ToString() ) />
    </RadzenChart>
</div>