@page "/custom"

<div class="custom">
    <nav class="table-of-contents">
        <h3>Statistics</h3>
    </nav>

    @if (dataMetrics.Count() == 0)
    {
        <p>Loading...</p>
    }
    else
    {
        <nav class="table-of-contents">
            <h3>Statistics</h3>
            <ul>
                @foreach (var metric in dataMetrics)
                {
                    <li><a href="#@FormatLabel(metric)">@metric</a></li>
                }
            </ul>
        </nav>

        <menu class="menu-row">
            <span>Compare</span>
            <InputSelect @bind-Value="selectedHome" @oninput="((e) => UpdateHomeCountry((string)e.Value))" class="drop-down">
                @foreach (var country in availableCountries)
                {
                    <option value="@country">@country</option>
                }
            </InputSelect>
            <span>with</span>
            <InputSelect @bind-Value="selectedOther" @oninput="((e) => UpdateOtherCountry((string)e.Value))" class="drop-down">
                    @foreach (var country in availableCountries)
                    {
                        <option value="@country">@country</option>
                    }
            </InputSelect>
        </menu>

        <div class="card-container">
            @foreach (var metric in dataMetrics)
            {
                <div id="@FormatLabel(metric)" class="data-card">
                    <ComparisonComponent @key="@($"{countryComp}-{countryCompTwo}")" CountryComparison="@countryComp" CountryOrigin="@countryCompTwo" date="@date" ResourceType="@metric"></ComparisonComponent>
                </div>
            }
        </div>
    }
</div>

