@page "/custom"

<div class="custom">
    @if (_country == null || _countryToCompareWith == null)
    {
        <p>Loading...</p>
    }
    else
    {
        <div class="data-filter">
            <DataFilterer Data="@_dataMetrics" OnChange="HandleFilterChange"></DataFilterer>
        </div>
        <nav class="table-of-contents">
            <h3>Statistics</h3>
            <ul>
                @foreach (var metric in _dataMetrics)
                {
                    <li><a href="#@FormatLabel(metric)">@metric</a></li>
                }
            </ul>
        </nav>

        <menu class="menu-row">
            <span>Compare</span>
            <InputSelect @bind-Value="selectedHome" @oninput="((e) => UpdateHomeCountry((string)e.Value))" class="drop-down">
                @foreach (var country in availableCountries)
                {
                    <option value="@country">@country</option>
                }
            </InputSelect>
            <span>with</span>
            <InputSelect @bind-Value="selectedOther" @oninput="((e) => UpdateOtherCountry((string)e.Value))" class="drop-down">
                    @foreach (var country in availableCountries)
                    {
                        <option value="@country">@country</option>
                    }
            </InputSelect>
        </menu>

        <div class="grid-container">
            @foreach (var metric in _dataMetrics)
            {
                <div id="@FormatLabel(metric)" class="grid-item">
                    <ComparisonComponent @key="@($"{_country}-{_countryToCompareWith}")" CountryComparison="@_country" CountryOrigin="@_countryToCompareWith" date="@_date" ResourceType="@metric"></ComparisonComponent>
                </div>
            }
        </div>
    }
</div>
