<h3>Description</h3>
<p>
    Resource is @_resourceDescription
</p>
<RadzenCard Class="rz-my-12 rz-mx-auto" Style="max-width: 70%">
    <ComparisonComponent ComparedCountries="@_countryComparison"
                         OriginCountry="@_countryOrigin"
                         ResourceType="@_resourceDescription"
                         Date="@_date"
                         OnClick="@(async () => { })">
   </ComparisonComponent>
</RadzenCard>


    


