<h3>Description</h3>
<p>
    Input description here of the resource here. Resource is @_resourceDescription
</p>
<ul style=" font-size: 100%; ">
</ul>
<RadzenCard Class="rz-my-12 rz-mx-auto" Style="max-width: 1000px">
    <ComparisonComponent ComparedCountries="@_countryComparison"
                         OriginCountry="@_countryOrigin"
                         ResourceType="@_resourceDescription"
                         Date="@_date"
                         OnClick="@(async () => { })">
   </ComparisonComponent>
</RadzenCard>


    


