@page "/dashboard"

@inject HttpClient httpClient
@inject API.IApiHandler apiHandler;

<div class="dash-board">
    <nav class="table-of-contents">
        <h3>Statistics</h3>
        <ul>
            @foreach (var metric in dataMetrics)
            {
                <li><a href="#@FormatLabel(metric)">@metric</a></li>
            }
        </ul>
    </nav>
    <div class="card-container">
        @for (int i = 0; i < dataMetrics.Count(); i++) @* //foreach (var metric in dataMetrics) *@
        {
            // Make sure that the data is available for both countries
            if (countryComp.Data?.Where(d => d.Name == dataMetrics[i]).FirstOrDefault()?.Points.Count == 0 ||
            countryCompTwo.Data?.Where(d => d.Name == dataMetrics[i]).FirstOrDefault()?.Points.Count == 0)
            {
                continue;
            }

            <div id="@FormatLabel(dataMetrics[i])" class="data-card">
                <ComparisonComponent CountryComparison="@countryComp" CountryOrigin="@countryCompTwo" date="@date" ResourceType="@dataMetrics[i]"></ComparisonComponent>
            </div>
        }
    </div>
</div>
