@page "/dashboard"



<div class="dash-board">
    
    @if (_homeCountryError)
    {
        <div>
            <p>Home country not found</p>
            @* Add manual country selection component *@
        </div>
    }
    else if (_country == null || _countryToCompareWith == null)
    {
        <p>Loading...</p>
    }
    else
    {
        <div class="data-filter">
            <DataFilterer Data="@_dataMetrics" OnChange="HandleFilterChange"></DataFilterer>
        </div>
        <nav class="table-of-contents">
            <h3>Statistics</h3>
            <ul>
                @foreach (var metric in _dataMetrics)
                {
                    <li><a href="#@FormatLabel(metric)">@metric</a></li>
                }
            </ul>
        </nav>
        @if (_dataMetrics.Count == 0)
        {
            <div>
                <p>No data shared data available for @_country.Name and @_countryToCompareWith.Name</p>
            </div>
        }
        else
        {
            <div class="grid-container">
                @foreach (var metric in _dataMetrics)
                {
                    <div id="@FormatLabel(metric)" class="grid-item">
                        <ComparisonComponent CountryComparison="@_country" CountryOrigin="@_countryToCompareWith" date="@_date" ResourceType="@metric"></ComparisonComponent>
                    </div>
                }
            </div>
        }
        
    }
</div>
