@inherits Fluxor.Blazor.Web.Components.FluxorComponent;

<div class="dash-board">
    @if (_homeCountryError)
    {
        <div>
            <p>Home country not found</p>
            <HomeCountryDropDown @ref="dropDown" CountryChanged="HomeCountryChange" CountryNames="@countryNames" CountryCodeDict="@countryCodeDict" />
        </div>
    }
    else if (!State.Value.HomeCountryFound || !State.Value.CountryOfTheDayFound || !_initialized)
    {
        <p>Loading...</p>
    }
    else
    {
        <div class="country-of-the-day">
            <h2>
                The country of the day is @State.Value.CountryOfTheDay.Name
            </h2>
        </div>
        <div class="container"> 

            <div class="header"> 
                <div class="data-filter">
                    <DataFilterer Text="Filter data" Data="@State.Value.SharedMetrics" DefaultSelectedValues="@State.Value.ShownMetrics" OnChange="HandleFilterChange"></DataFilterer>
                </div>
                
                <nav class="table-of-contents">
                    <ul>
                        @foreach (var metric in State.Value.ShownMetrics)
                        {
                            <li><a href="#@FormatLabel(metric)">@metric</a></li>
                        }
            </ul>
        </nav>
        </div>
        @if (State.Value.SharedMetrics.Count == 0)
        {
            <div>
                <p>No shared data between @State.Value.HomeCountry.Name and @State.Value.CountryOfTheDay.Name</p>
            </div>
        }
        else if(State.Value.ShownMetrics.Count != 0)
        {
            <div class="grid-container">
                @foreach (var metric in State.Value.ShownMetrics)
                {
                    <div id="@FormatLabel(metric)" class="grid-item">
                            <ComparisonComponent @key=@metric @ref="@compComp[metric]" ComparedCountries="@Countries" OriginCountry="@State.Value.CountryOfTheDay" date="@_date" ResourceType="@metric"></ComparisonComponent>
                    </div>
                }
                </div>
            }
            else
            {
                <div>
                    <p>No data selected between @State.Value.HomeCountry.Name and @State.Value.CountryOfTheDay.Name</p>
                </div>
            }

        </div>
    }
</div>
