@page "/dashboard"



<div class="dash-board">
    @if (countryComp == null || countryCompTwo == null)
    {
        <p>Loading...</p>
    }
    else
    {
        <nav class="table-of-contents">
            <h3>Statistics</h3>
            <ul>
                @foreach (var metric in dataMetrics)
                {
                    <li><a href="#@FormatLabel(metric)">@metric</a></li>
                }
            </ul>
        </nav>
        <div class="data-filter">
            <DataFilterer Data="@dataMetrics" OnChange="HandleFilterChange"></DataFilterer>
        </div>
        <div class="grid-container">
            @foreach (var metric in dataMetrics)
            {
                <div id="@FormatLabel(metric)" class="grid-item">
                    <ComparisonComponent CountryComparison="@countryComp" CountryOrigin="@countryCompTwo" date="@date" ResourceType="@metric"></ComparisonComponent>
                </div>
            }
        </div>
    }
</div>
