@page "/dashboard"

@inject HttpClient httpClient
@inject API.IApiHandler apiHandler;

<div class="dash-board">
    <nav class="table-of-contents">
        <h3>Statistics</h3>
        <ul>
            @foreach (var metric in dataMetrics)
            {
                <li><a href="#@FormatLabel(metric)">@metric</a></li>
            }
        </ul>
    </nav>
    <div class="card-container">
        @foreach (var metric in dataMetrics)
        {
            <div id="@FormatLabel(metric)" class="data-card">
                <ComparisonComponent CountryComparison="@countryComp" CountryOrigin="@countryCompTwo" date="@date" ResourceType="@metric"></ComparisonComponent>
            </div>
        }
    </div>
</div>
